main h1 {
	font-size: 60px;
	background-color: #851944;
	color: #FFF;
	text-align: center;
	font-family: "Arial", sans-serif;
}
h2 {
	font-size: 40px;
	font-family: "Arial", sans-serif;
}
body {
	background-color: #F2FFFC;
}
p {
	text-align: justify;
	font-family: "Times New Roman", serif;
}